# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environment files
.env
fix_app_paths.patch
Consultants-Application-Management-System/
